@page "/"

<PageTitle>Tareas</PageTitle>
<div class="todo-container">
    <h1>Tareas</h1>
    <div class="todo-input">
        <input type="text"/>
        <button>Agregar</button>
    </div>
</div>

@code
{
    public string todoInput { get; set; }
}



